**/__pycache__/**
**.pt
build/**
**/last_training_config.json
**/communication/**
**/logs/**
graph*
**.perf

**.pth
**tictactoe_database.txt
**.csv
**.hdf5
**.prof
**.processed

**/.vscode/**

**/models/memory/**
**/data/**

cpp/src/json.hpp
cpp/build/**
cpp/libtorch**/**

**/.cache/**
/cpp_py/reference

!documentation/**